.table-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20rpx;
  background-color: #222;
  .table-title {
    font-size: 32rpx;
    color: #ffffff;
    font-weight: bold;
  }

  .filter-buttons {
    display: flex;
    gap: 10rpx;
    font-size: 22rpx;
  }

  .filter-btn {
    padding: 10rpx 20rpx;
    border-radius: 20rpx;
    background-color: #333333;
    color: #ffffff;
    box-sizing: border-box;
    height: 50rpx;
  }

  .filter-btn.active {
    background-color: #007aff;
    color: #ffffff;
  }

  .filter-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20rpx;
    padding: 15rpx;
    background-color: #1e1e1e;
    border-radius: 10rpx;
  }
}

.stats {
  align-items: center;
  padding: 15rpx;
  font-size: 22rpx;

  background-color: #1e1e1e;
}
.stats-text {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15rpx;
  margin-right: 15rpx;
}

.stat-item {
  color: #ffffff;
}


.table-header {
    display: flex;
    background-color: #2a2a2a;
    padding: 15rpx 10rpx;
    font-weight: bold;
    color: #ffffff;
    font-size: 28rpx;
  }
  
  .header-cell {
    flex: 1;
    text-align: center;
  
    font-size: 20rpx;
  }
  
  .table-row {
    display: flex;
    padding: 15rpx 10rpx;
    border-bottom: 1rpx solid #333333;
    &:nth-child(2n){
        background-color: #212121;
    }
  }
  
  .cell {
    flex: 1;
    text-align: center;
    font-size: 28rpx;
    color: #fff;
  
    font-size: 20rpx;
    justify-content: center;
    align-items: center;
  }