.table-header {
    display: flex;
    background-color: #2a2a2a;
    padding: 15rpx 10rpx;
    font-weight: bold;
    color: #ffffff;
    font-size: 28rpx;
  }
  
  .header-cell {
    flex: 1;
    text-align: center;
  
    font-size: 20rpx;
  }
  
  .table-row {
    display: flex;
    padding: 15rpx 10rpx;
    border-bottom: 1rpx solid #333333;
    &:nth-child(2n){
        background-color: #212121;
    }
  }
  
  .cell {
    flex: 1;
    text-align: center;
    font-size: 28rpx;
    color: #fff;
  
    font-size: 20rpx;
    justify-content: center;
  }