@font-face {
  font-family: 'iconfont'; /* Project id 4959056 */
  src: url('iconfont-draw-line.ttf?t=1764232415655') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-reset:before {
  content: '\e63a';
}

.icon-shizi:before {
  content: '\e60d';
}

.icon-shangxiajiantou:before {
  content: '\e6b7';
}

.icon-cebianlan-bihuacu:before {
  content: '\e602';
}

.icon-cebianlan-bihuaxi:before {
  content: '\e603';
}

.icon-cebianlan-bihuazhong:before {
  content: '\e604';
}

.icon-shixinfangkuang:before {
  content: '\e659';
}

.icon-kongxin-fangxing:before {
  content: '\e8d4';
}

.icon-kongxinyuan:before {
  content: '\e60c';
}

.icon-qianbi:before {
  content: '\e60f';
}

.icon-shixinyuan:before {
  content: '\e632';
}

.icon-chexiao:before {
  content: '\e601';
}

.icon-zhixian:before {
  content: '\e636';
}

.icon-shezhi:before {
  content: '\e817';
}

.icon-fenxiang:before {
  content: '\e643';
}

.icon-quxian:before {
  content: '\e616';
}

.icon-baocun:before {
  content: '\e67f';
}

.icon-shanchu:before {
  content: '\e64b';
}

.icon-wenzi:before {
  content: '\e6e5';
}
